@import "../../../variables";

.home-header-row {
  text-align: center;
}

.home-info-row {
  color: grey;
  padding-top: 10px;
  text-align: center;
}

.home-btn-row {
  padding-top: 50px;
}


.home-header {
  color: white;
}

.btn-home {
  height: 40px;
  width: 40%;
  background-color: $color-2;
  color: white;
  border-radius: 0;
  cursor: pointer;
}
