<div class="row home-header-row">
  <h2 class="home-header mx-auto">The most reliable cryptocurrency trading bot</h2>
</div>
<div class="row home-info-row">
  <h5 class="home-info">The <em>fastest</em> bot on the market, excelling in arbitrage and short and long term strategies, backed by advanced statistical analysis and bleeding edge <em>secure</em> cloud technologies. </h5>
</div>
<div class="row home-btn-row">
  <button class="btn btn-home mx-auto" routerLink="/register">Get Started</button>
</div>
