<div class="row home-header-row">
  <h2 class="home-header mx-auto">The most reliable three factor cloud authentication solution, <i>universally</i></h2>
</div>
<div class="row home-info-row">
  <h5 class="home-info">The <em>fastest</em> and <em>most secure</em> security system on the market, excelling in ground breaking multi-factor authentication and premium hybrid-cloud security solutions, backed by advanced statistical analysis and bleeding edge <em>secure</em> block chain technologies.</h5>
</div>
<div class="row home-btn-row">
  <button class="btn btn-home mx-auto" routerLink="/register">Get Started</button>
</div>


<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
