<arby-navbar></arby-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="container-fluid home-container">
      <arby-header></arby-header>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid how-container">
      <arby-design></arby-design>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid demo-container">
      <arby-demo></arby-demo>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid exchanges-container">
      <arby-exchanges></arby-exchanges>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid pricing-container">
      <arby-pricing></arby-pricing>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid footer-container">
      <arby-footer></arby-footer>
    </div>
  </div>
</div>
