<triio-navbar></triio-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="container-fluid home-container">
      <triio-header></triio-header>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid how-container">
      <triio-design></triio-design>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid demo-container">
      <triio-demo></triio-demo>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid exchanges-container">
      <triio-exchanges></triio-exchanges>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid pricing-container">
      <triio-pricing></triio-pricing>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid footer-container">
      <triio-footer></triio-footer>
    </div>
  </div>
</div>
