<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12">
      <h3>Design</h3>
    </div>
  </div>
  <div class="row info-row">
    <div class="col-md-12">
      <p class="header-info">Arby works by running our trading algorithms on your exchange account(s) and executing trades based on your configuration.</p>
    </div>
  </div>
  <div class="row design-row">
    <div class="col-md-2">
      <p class="design-info">Cloud</p>
    </div>
    <div class="col-md-2">
      <p class="design-info">Security</p>
    </div>
    <div class="col-md-2">
      <p class="design-info">Arbitrage</p>
    </div>
    <div class="col-md-2">
      <p class="design-info">Shorting</p>
    </div>
    <div class="col-md-2">
      <p class="design-info">Longs</p>
    </div>
  </div>
</div>
