<div class="row header-row pull-right">
  <div class="header-1">
    <span class="item">Today</span>
    <span class="item">Week</span>
    <span class="item">Month</span>
    <span class="item">Years</span>
  </div>
</div>

<div class="container-fluid">
  <div class="row views-row">
    <div class="col-md-3">
      <mat-card class="views password">
        <mat-icon>lock</mat-icon>
        <p>Password</p>
        <p>0</p>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="views push">
        <mat-icon>arrow_upward</mat-icon>
        <p>Push</p>
        <p>0</p>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="views eyes">
        <mat-icon>remove_red_eye</mat-icon>
        <p>Eyes</p>
        <p>0</p>
      </mat-card>
    </div>

  </div>
  <div class="row views-row">
    <div class="col-md-6">
      <mat-card class="views graph">
        <p>Graph</p>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="views history">
        <p>History</p>
      </mat-card>
    </div>
  </div>
</div>
