<div class="row header-row pull-right">
  <div class="header-1">
    <span class="item">Today</span>
    <span class="item">Week</span>
    <span class="item">Month</span>
    <span class="item">Years</span>
  </div>
</div>

<div class="container-fluid">
  <div class="row views-row">
    <div class="col-md-3">
      <mat-card class="views trades">
        <mat-icon>transfer_within_a_station</mat-icon>
        <p>Total Trades</p>
        <p>0</p>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="views profits">
        <mat-icon>trending_up</mat-icon>
        <p>Total Profits</p>
        <p>$0</p>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="views portfolio">
        <mat-icon>pie_chart</mat-icon>
        <p>Portfolio</p>
        <p>$0</p>
      </mat-card>
    </div>

  </div>
  <div class="row views-row">
    <div class="col-md-6">
      <mat-card class="views graph">
        <p>Graph</p>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="views bots">
        <p>Running Bots</p>
      </mat-card>
    </div>
  </div>
</div>
