@import "../../../../variables";
.container-fluid {
  background-color: $color-4;
}

.mat-card {
  color: white !important;
  background-color: $color-5
}

.card-style {
  height: 100%;
}

.options {
  padding: 20px;
}

.field {
  padding: 20px;
  color: white !important;
}
